In [1]:
import pandas as pd

In [2]:
eid_site = 'http://www.passc.net/EarthImpactDatabase/New%20website_05-2018/Namesort.html'

In [13]:
impact_df = pd.read_html(eid_site,header=0,extract_links='body')[0]

In [14]:
impact_df

                       Structure Name                               Location
                                  NaN                                    NaN
0             (Acraman, Acraman.html)                (South Australia, None)
1    (Amelia Creek, Ameliacreek.html)  (Northern Territory, Australia, None)
2                   (Ames, Ames.html)               (Oklahoma, U.S.A., None)
3               (Amguid, Amguid.html)                        (Algeria, None)
4           (Aorounga, Aorounga.html)                           (Chad, None)
..                                ...                                    ...
194         (Yallalie, Yallalie.html)              (Western Australia, None)
195     (Yarrabubba, Yarrabubba.html)              (Western Australia, None)
196       (Zapadnaya, Zapadnaya.html)                        (Ukraine, None)
197      (Zeleny Gai, Zelenygai.html)                        (Ukraine, None)
198     (Zhamanshin, Zhamanshin.html)                     (Kazakhstan, None)

[199 rows x 2 columns]

In [26]:
# Drop the secondary header
impact_df = impact_df.droplevel(1, axis=1)

In [28]:
# Extract links into their own DF column

impact_df['Structure Name'].loc[0][1]

'Acraman.html'